* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(230, 230, 230);
}

/* navbar design start ============================================================================================================================================================================================================================================*/
#MainNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  z-index: 9999;
  background-color: rgb(230, 230, 230);

}
#Navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1224px;
  padding: 30px 10px;
}
.nav_logo h1{
 font-weight: bolder;
 color: rgb(46, 46, 46);
}
.main_nav_links{
    display: flex;
}
.nav_links ul{
    display: flex;
}
.nav_links ul li{
   list-style: none;
   /* border: 1px solid rebeccapurple; */
}
.nav_links ul li a {
    text-decoration: none;
 color: rgb(46, 46, 46);
 font-weight: bolder;
 /* border: 1px solid red; */
 margin: 18px;
    

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}






.dark_mode_btn button {
  border: none;
  background-color: rgb(230, 230, 230);
  /* border: 1px solid blue; */
}
.dark_mode_btn a:hover img {
  filter: invert(73%) sepia(64%) saturate(5907%) hue-rotate(196deg)
    brightness(88%) contrast(86%);
}


/* navbar design start ============================================================================================================================================================================================================================================*/
/* header design start ============================================================================================================================================================================================================================================*/
#main-header{
  border: 1px solid rebeccapurple;
margin-top: 90px;
display: flex;
justify-content: center;




































}
.header{
  padding:0 70px;
  width: 1224px;

}
.header-social-linksp{
border: 1px solid black;
}
.header-social-images{
/* border: 1px solid rgb(117, 20, 20); */
padding: 15px 10px;
  
}
.header-social-images a img{
  filter: invert(73%) sepia(64%) saturate(5907%) hue-rotate(196deg)
    brightness(88%) contrast(86%);
/* border: 1px solid rgb(2, 54, 30); */
/* padding:0 70px; */
}

.header-details{
border: 1px solid black;

}


















/* header design end
 ============================================================================================================================================================================================================================================*/