* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(230, 230, 230);
}

/* navbar design start ============================================================================================================================================================================================================================================*/
#MainNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  z-index: 9999;
  background-color: rgb(230, 230, 230);

}
#Navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1224px;
  padding: 30px 30px;
}
.nav_logo h1{
 font-weight: bolder;
 color: rgb(46, 46, 46);
}
.main_nav_links{
    display: flex;
}
.nav_links ul{
    display: flex;
}
.nav_links ul li{
   list-style: none;
   /* border: 1px solid rebeccapurple; */
}
.nav_links ul li a {
    text-decoration: none;
 color: rgb(46, 46, 46);
 font-weight: bolder;
 /* border: 1px solid red; */
 margin: 18px;
    

}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}






.dark_mode_btn button {
  border: none;
  background-color: rgb(230, 230, 230);
  /* border: 1px solid blue; */
}
.dark_mode_btn a:hover img {
  filter: invert(73%) sepia(64%) saturate(5907%) hue-rotate(196deg)
    brightness(88%) contrast(86%);
}


/* navbar design start ============================================================================================================================================================================================================================================*/
/* header design start ============================================================================================================================================================================================================================================*/
#main-header{
  /* border: 1px solid rebeccapurple; */
/* margin-top: 10px; */
display: flex;
justify-content: center;
padding: 80px 10px;

}
.header{
  padding:0 70px;
  /* width: 1224px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-social-links{
/* border: 1px solid black; */
/* background-color: #007bff; */
}
.header-social-images{
/* border: 1px solid rgb(117, 20, 20); */
padding: 15px 10px;
  
}
.header-social-images a img{
  filter: invert(73%) sepia(64%) saturate(5907%) hue-rotate(196deg)
    brightness(88%) contrast(86%);
/* border: 1px solid rgb(2, 54, 30); */
/* padding:0 70px; */
}

.header-details{
/* border: 1px solid black; */
margin-left: 30px;

}


.contact-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border: 1px solid red; */
  margin-top: 23px;
}

.contact-button:hover {
  background-color: #0056b3;
}

.contact-button i {
  margin-right: 10px;
}
.header-image{
  /* border: 1px solid red; */
  margin-left: 30px;
}
#header-details-glowing-text{
  font-size: 38px;
  font-weight: 700;
}
.header-details h3{
  color: rgb(77, 77, 77);
  padding-top: 15px;

}
#header-details-sub-details{
 /* border: 1px solid red; */
 margin-top: 18px;
 line-height: 1.4;
 width: 450px;
}











/* header design end
 ============================================================================================================================================================================================================================================*/