.maingototop{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 1px solid red; */
}
.top-btn{
  font-size: 10px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color:rgb(32, 32, 247) ;
  /* box-shadow: black; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

 }
 .top-btn:hover{
  background-color:rgb(46, 46, 247) ;
 padding-bottom: 5px;
 margin-bottom: 2px;
 }